{
  "arrowParens": "always",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "configLocations": ["${home_path}/.prettierrc", "${folder}/.prettierrc"]
}
