@import './global/variables';

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bootstrap';

@import './plugins/selectize-bootstrap4';
@import './plugins/rouge';
@import './plugins/simplemde';

@import './components/bookmark';
@import './components/sticky-footer';
@import './components/tag';

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}
